/* ------Global styles------ */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background: linear-gradient(180deg, oklch(92.8% 0.006 264.531), #0bcfb5);
    font-family:'Noto Sans Display';
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(0, 0, 0);
}

html {
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}
/* ------Log in button------ */
.login-button-auth {
    padding: 10px 24px;
    background-color:#0bcfb5;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition: background-color 0.2s ease;
}

.login-button-auth:hover {
    background-color:rgba(145, 207, 209, 0.2);
    color:#0bcfb5;
}

/* ------Login styles------ */
.login-container {
    width: 360px;
    padding: 30px;
    background-color:oklch(92.8% 0.006 264.531);
    box-shadow: 0 0 10px rgba(255, 244, 244, 0.264);
    border-radius: 10px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color:#010101;
}

.login-container label {
    display: block;
    margin-top: 10px;
    color:#000000;
    font-weight:400;
}

.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: inherit;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color:#0bcfb5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-family: inherit;
}

.login-container button:hover {
    background-color:rgba(145, 207, 209, 0.2);
    color:#0bcfb5;
}
.login-container h6 {
    text-align: center;
    margin-top: 15px;
    color:#000000;
}

.login-container h6 a {
    color:#0bcfb5;
    text-decoration: none;
}

#tosLink {
    color:#0bcfb5;
    text-decoration: none;
}

/* ------Scroll to Top Button------ */
.scroll-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    background: radial-gradient(circle at left, #ffffff, oklch(92.8% 0.006 264.531));
    color: #0bcfb5;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.scroll-top-btn.show {
    display: flex;
}