/* Global styles */
body {
    background-color: #f0f0f0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    overflow: hidden;
    height: 100%;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

/* Login styles */
.login-container {
    width: 360px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-top: 10px;
}

.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: inherit;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-family: inherit;
}

.login-container button:hover {
    background-color: #0056b3;
}

.login-container h6 {
    text-align: center;
    margin-top: 15px;
}